@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&family=Merriweather:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
}

.header {
  background: #ffffff;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid black;
}

.header .navbar {
  margin-left: 3em;
}

.header .navbar > a {
  font-size: 20px;
  margin-left: 2em;
  text-decoration: none;
  color: #292929;
}

.header .title i {
  font-size: 30px;
}

.header .title h1 {
  font-family: 'Fira Sans';
}

.container .wrap-Insert {
  height: 90vh;
  background-image: url("../assets/img1.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .wrap-Insert .form {
  border: 2px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 30%;
}

.container .wrap-Insert .form .header {
  background: #ffd901;
  padding: 2em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .wrap-Insert .form form {
  background: #fff;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .wrap-Insert .form form input[type=file] {
  border: none;
}

.container .wrap-Insert .form form textarea {
  padding: 20px;
  resize: none;
}

.container .wrap-Insert .form form input[type=submit] {
  background: #ffd901;
  outline: none;
  border: 1px solid black;
}

.container .wrap-Insert .form form > input {
  padding: 20px;
  margin-bottom: 1em;
}

.container .wrap-Kamar {
  background: #f0f0f0;
  padding: 1em 5em;
  height: 100vh;
}

.container .wrap-Kamar .tambah {
  position: fixed;
  background: #ffd901;
  border-radius: 50%;
  padding: 0.5em;
  bottom: 5em;
  right: 5em;
}

.container .wrap-Kamar a {
  color: white;
  font-size: 20px;
}

.container .wrap-Kamar table {
  width: 100%;
}

.container .wrap-Kamar table td, .container .wrap-Kamar table th {
  padding: 0.5em;
}

.container .wrap-Kamar table #head {
  background: #ffd901;
}

.container .wrap-Kamar table tr {
  background: white;
}

.container .wrap-Kamar table tr:hover {
  background: #f8ffd0;
}

.container .wrap-Kamar table td a {
  font-size: 16px;
  color: black;
}

.container .wrap-Hotel-Facilities {
  background: #f0f0f0;
  padding: 1em 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
}

.container .wrap-Hotel-Facilities .hotel {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 25%;
  margin: 1em;
  height: 25em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}

.container .wrap-Hotel-Facilities .hotel .head {
  height: 15em;
  overflow-y: hidden;
}

.container .wrap-Hotel-Facilities .hotel .body {
  background: #fff;
  padding: 1.5em;
}

.container .wrap-Hotel-Facilities .hotel .action {
  margin-right: 1.5em;
  overflow: hidden;
  float: right;
}

.container .wrap-Hotel-Facilities .hotel .action a {
  display: inline-block;
  background: #ffd901;
  padding: 0.5em;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}

.container .wrap-Hotel-Facilities .hotel .action a:hover {
  background: #f8efbb;
}

.container .wrap-Hotel-Facilities .tambah {
  position: fixed;
  background: #ffd901;
  border-radius: 50%;
  padding: 0.5em;
  bottom: 5em;
  right: 5em;
}

.container .wrap-Hotel-Facilities a {
  color: white;
  font-size: 20px;
}

.container .wrap-Home .banner {
  height: 40vh;
  overflow-y: hidden;
}

.container .wrap-Home .banner img {
  position: relative;
  top: -15em;
  width: 100%;
  height: auto;
}

.container .wrap-Home .form {
  padding: 3em;
}

.container .wrap-Home .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .wrap-Home .form form .form-date {
  margin: 0 auto;
}

.container .wrap-Home .form form input {
  margin: 0 3em;
  padding: 1em;
  font-family: 'Varela Round', sans-serif;
}

.container .wrap-Home .form form .form-pemesanan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.container .wrap-Home .form form .form-pemesanan select {
  margin: 0 auto;
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #7e7e7e;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), color-stop(33%, #fff));
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.container .wrap-Home .form form .form-pemesanan input {
  margin: 0.5em;
}

.container .wrap-Home .about-our {
  position: absolute;
  bottom: 0;
  background: #555555;
  padding: 3em;
}

.container .wrap-Home .about-our h1 {
  color: white;
  text-align: center;
}

.container .wrap-Home .about-our p {
  color: white;
  font-size: 20pt;
}

.container .wrap-Room {
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .wrap-Room .room {
  margin: 1em;
  -webkit-box-shadow: 0px 2px 5px black;
          box-shadow: 0px 2px 5px black;
  width: 90%;
  background: #fff;
}

.container .wrap-Room .room .image {
  height: 15em;
  overflow-y: hidden;
}

.container .wrap-Room .room .image img {
  width: 100%;
}

.container .wrap-Room .room .body {
  padding: 2em;
}
/*# sourceMappingURL=admin.css.map */